<mat-toolbar class="navbar">
    <span class="span">Poker</span>    
</mat-toolbar>

<mat-drawer-container class="container">
    <mat-drawer mode="side" opened class="leftbar">
        <div class="perfil">
            <img src="../../../assets/home/perfil.jpg" alt="" class="imgPerfil">
            <label class="lbl">Nombre Usuario</label>
        </div>
        <mat-divider></mat-divider>
        <mat-action-list>
            <button mat-list-item (click)="save()"> Datos Generales </button>
            <button mat-list-item (click)="undo()"> Posibles Manos </button>
            <button mat-list-item (click)="undo()"> Calculadora Mano</button>
            <button mat-list-item (click)="undo()"> Administrar</button>
          </mat-action-list>
    </mat-drawer>
    
    <mat-drawer-content class="rightbar">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>