.navbar {   
    justify-content: center;     
    background-color: mediumseagreen;     
  }

.span{
    font-family: 'Lucida Bright';
    color: white; 
    font-size: 30px;
}

.perfil{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;    
}

.imgPerfil{
     /* cambia estos dos valores para definir el tamaño de tu círculo */
     height: 95px;
     width: 95px;
     /* los siguientes valores son independientes del tamaño del círculo */
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
     background-size: 100% auto;
}

.lbl{
    display: flex;
    justify-content: center;
}

.container{
    height: 80vh;
}

.leftbar {      
    width: 20vw;
   
  }

.rightbar{
    width: 80vw;
    height: 100%;
}